### log级别
slog_level=DEBUG
#slog_level=INFO
### log文件名
slog_log_name=server.log
### log 文件最大大小(单位M)
slog_log_maxsize=500M
### log文件最多个数
slog_log_maxcount=10
### log缓冲区大小(单位KB,默认512KB)
slog_flush_size=512000
### log缓冲刷新间隔(单位s,默认1s)
slog_flush_interval=2
### log动态更新配置参数的时间间隔(单位s,默认60s)
config_update_interval=60
### 是否需要直接输出到控制台
need_output_ctl=0

